<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../min/uap.min.css" rel="stylesheet" />
    <script src="../../Scripts/angular.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="DemoObject">
        <input type="text" ng-model="$scope.name" />
        {{$scope.name}}
    </div>
</body>
</html>
<script>

    var myApp=angular.module("myApp",[]);
    myApp.controller("DemoObject", demoObject);
    function demoObject($scope) {

    }
</script>
